<h1 class="page-header">Search Books</h1>

<form action='/books' method="GET">

    <label>Title</label>
    <input type="text" name="title" value="<%=searchOptions.title%>">

    <label>Publish After</label>
    <input type="date" name="publishedAfter" value="<%=searchOptions.publishedAfter%>">

    <label>Publish Before</label>
    <input type="date" name="publishedBefore" value="<%=searchOptions.publishedBefore%>">

    <button type="submit">Search</button>
</form>

<br>
<div>
    <% books.forEach(book=> {%>

        <a href="/books/<%= book.id %>">
            <img height="130" width="100" src="<%= book.coverImagePath %>">
        </a>
        
        <% }) %>

</div>